# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules/
/client/.pnp/
/client/.pnp.js

# testing
/client/coverage/

# production
/client/build/

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# The directory Mix will write compiled artifacts to.
/core/_build/

# If you run "mix test --cover", coverage assets end up here.
/core/cover/

# The directory Mix downloads your dependencies sources to.
/core/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/core/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/core/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/core/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
/core/*.ez

# Temporary files, for example, from tests.
/core/tmp/

# Ignore package tarball (built via "mix hex.build").
/core/spazzatura-*.tar

/core/.elixir_ls/
